.heading-banner {
	/* background-image: url('/frontpage-background.jpg'); */
	display: flex;
	flex-direction: row;
	height: 12vh;
	margin: 0;
	color: lightgray;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* position: fixed; */
	/* z-index: 2; */
}

.back-button-container {
	flex: 1;
}

.title {
	flex: 1;
	text-align: center;
}
  
.links {
	display: flex;
	flex-direction: row;
	width: 10vw;
	justify-content: center;
	flex: 1;
}

.heading-banner h1 {
	margin: 0;
	font-size: 3rem;
	letter-spacing: 0.2rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a {
	width: 3rem;
	margin: 5px;
}

.icon {
	width: 3rem;
}

.back-button {
	background-color: transparent;
	border: none;
	font-size: 40px;
	cursor: pointer;
	color: white;
	flex: 1;
	padding: 20px;
}