.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    color: white;
    font-size: 3.5rem;
}

.home-page h1, .home-page h2, .home-page h3, .home-page h4, .home-page h5, .home-page h6 {
    font-weight: 1;
    color: white;
    margin: 1rem 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}

.home-page button {
    padding: 20px 30px;
    margin: 15px;
    border-radius: 15px; /* Adjust the border-radius for curved edges */
    border: 1px solid black;
    cursor: pointer;
    background-color: blueviolet; /* Add a blue color for the buttons */
    color: white; /* Set text color to white for better visibility */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: 20px;
    font-family: 'Arial', 'Lato', sans-serif;
    }
  
.home-page button:hover {
    background-color: blue;
    color: white;
    border-color: black;
    border: 2px solid black;
    padding: 19px 30px;
}