.next-page-button {
  display: flex;
  justify-content: center;
}

.next-page-button button {
  padding: 1.2rem 1.7rem;
  border-radius: 0.7rem;
  border: 0.1rem solid black;
  cursor: pointer;
  background: #172f58;
  color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-size: 1.3rem;
  font-family: 'Arial', 'Lato', sans-serif;
}

.next-page-button button:hover {
  background: #112240;
  border: 0.15rem solid black;
  padding: 1.15rem 1.65rem;
}