.select-stock-body {
  /* background: linear-gradient(#023058, #019ad6); */
  box-shadow:rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
  margin: 0 15vw;
  padding: 0 2vw;
  padding-top: 12vh;
  background: white;
}

.both-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  color: black;
  text-align: center;
}

.loaded-options {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 20px;
}

.new-options {
  flex: 1;
  padding-bottom: 20px;
}

button {
  border: 1px solid black;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  width: 130px;
  height: 70px;
  margin: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  background: purple;
  /* background: blueviolet; */
  /* background: linear-gradient(#9600d1, #570068); */
  font-size: 22px;
  letter-spacing: 0.05rem;
  font-family: 'Arial', 'Lato', sans-serif;
}

.buttons button:hover {
  background: blueviolet;
  /* background: purple; */
  /* background-color: blue; */
  color: white;
  border: 2px solid black;
  padding: 19px 30px;
}

.async-select-container {
  width: 15vw;
  margin: 0 auto;
  justify-content: top;
  text-align: left;
  font-size: 20px;
  z-index: 1;
  position: relative;
}

/* table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
} */

/* th, td, tr {
  padding: 20px;
  text-align: left;
}

td input {
  margin-right: 10px;
}

.download-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.download-buttons button {
  width: 80px;
  height: 50px;
  margin: 20px;
  background-color: orange; /* Add a blue color for the buttons */
  font-size: 14px;
  font-family: 'Arial', 'Lato', sans-serif;
}

.download-buttons button:hover {
  background-color: blue;
  color: white;
  border-color: black;
  border: 2px solid black;
}

.simulator-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.simulator-button button{
  padding: 20px 30px;
  font-size: 20px;
}

.simulator-button button:hover {
  background-color: blue;
  color: white;
  border-color: black;
  border: 2px solid black;
  padding: 19px 30px;
}
