.heading-banner-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body-container {
  display: flex;
  flex-direction: column;
  padding: 0 19vw;
  font-size: 1.8rem;
}

.body-container button {
  border: 1px solid black;
  cursor: pointer;
  color: white;
}

.icon-new {
  width: 3rem;
  padding: 0.5rem;
}

.background-new {
  background: #0a192f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.side-bar button:hover {
  background: #112240;
}

.step {
  color: #ccd6f6;
  margin-bottom: 20vh;
}

.step h1 {
  color: #ccd6f6;
}

.step h2, .step h3 {
  color: #8892b0
}

.step h4 {
  color: #68738f  
}

.ticker-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ticker-buttons button {
  /* background: #112240; */
  background: #172f58;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  width: 8.5rem;
  height: 4.5rem;
  margin: 2.5rem;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.async-select-container {
  width: 15vw;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
}

.my-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.my-box {
  text-align: center;
}

.my-box h5 {
  margin: 0 0.5rem;
}

.my-box-button {
  background: #172f58;
}

.my-box-button h5 {
  margin: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.download-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.download-buttons button {
  background: #112240;
  width: 9rem;
  height: 4.5rem;
  margin: 0.8rem;
  font-size: 0.9rem;
  flex: 1;
}

.download-buttons p {
  margin: 0;
}

.download-buttons button:hover {
  /* background-color: #172f58; */
  background-color: #22437c;
  color: white;
  border-color: black;
  border: 2px solid black;
}

.button-pair button {
  padding: 0.8rem 1.3rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.left-button {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.right-button {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.continue-button {
  display: flex;
  justify-content: center;
}

.continue-button button {
  padding: 1.2rem 1.7rem;
  border-radius: 0.7rem;
  border: 0.1rem solid black;
  cursor: pointer;
  background: #172f58;
  color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  font-size: 1.3rem;
  font-family: 'Arial', 'Lato', sans-serif;
}

.continue-button button:hover {
  background: #112240;
  border: 0.15rem solid black;
  padding: 1.15rem 1.65rem;
}

.center-content {
  display: flex;
  justify-content: center;
}

.from-to {
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
}
.from-to h2 {
  margin-top: 0;
  flex: 1;
}

.see-more-container {
  display: flex;
  justify-content: center;
}

.see-more-container span {
  cursor: pointer;
  text-decoration: underline; 
  font-size: 1.5rem;
}