.simulator-body {
  margin: 0 10vw;
  padding-bottom: 5vh;
  background: rgb(240, 240, 240);
}

.loading-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(240, 240, 240);

}
  
.stock-charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stock-charts h2 {
  text-align: center;
}

.stock-chart {
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 40vw;
  margin: 0 20px;
}

.stats-and-buy-sell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  flex: 1;
  padding: 40px;
  padding-top: 0;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-sell-buttons button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  padding: 10px;
  font-size: 15px;
}