.simulator-body {
  box-shadow:rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
  margin: 0 15vw;
  padding: 0 2vw;
  padding-top: 12vh;
  background: white;
}

h3 {
    margin: 0;
}
  
.stock-charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stock-chart {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 40vw;
    margin: 0 20px;
}

.close-trading-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
}

.close-trading-button button {
    border: 1px solid black;
    cursor: pointer;
    background-color: blueviolet; /* Add a blue color for the buttons */
    color: white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 15px;
    margin: 0 auto;
    width: 100px;
    height: 50px;
}

.close-trading-button button:hover {
    background-color: blue;
    color: white;
    border-color: black;
    border: 2px solid black;
}